:root {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

button {
  border: 2px solid black;
  border-width: 2px 2px 5px 5px;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 5px 10px;
  transition: 85ms;
}

button:hover {
  border-width: 2px 2px 3px 3px;
  padding: 2.5px 10px;
}

.container {
  background-color: #e8f7ff;
  text-align: left;
  padding: 10px;
  border: 1px solid blue;
}
.button-container {
  width: 100%;
  height: 32px;
  padding: 5px 0px;
}
.demo-text-div {
  width: 500px;
  padding: 10px;
  border: 2px solid #ff0000;
  border-radius: 5px;
}

.mission-div,
.vision-div {
  background-color: white;
  width: 50%;
  padding: 10px;
  border: 1px solid blue;
  border-radius: 5px;
}

.company-div {
  display: flex;
  gap: 10px;
  margin: 10px 0px;
  justify-content: center;
}
